@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F9FC;
  color: #575F7D;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
}

h1, a{
  color: #6B72E1;
  font-weight: bold;
  line-height: 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #7ECE90;
  font-size: 18px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

i {
  color: white;
  font-size: 2.7rem;
}

ul, li {
  list-style: none;
}

img {
  width: 130px;
}

/**** CLASS ****/
.container {
  margin: 40px auto;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.btn-blue {
  background-color: #6B72E1;
  border-radius: 4px;
  color: white;
  padding: 15px 20px;
  transition: ease-in-out 0.3s;
}

.btn-blue:hover {
  background-color: black;
}

.list-line {
  text-align: center;
  padding: 0;
}
/* regarder le cours/exo pour mettre en inline sans flexbox */

.list-item-hash {
  color: #6B72E1;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}

.list-item {
  align-items: center;
  background-color: #c7c6c6;
  border-radius: 4px;
  display: flex;
  font-size: 25px;
  height: 55px;
  justify-content: center;
  width: 55px;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.list-item:hover {
  background-color: black;
}

/*** RESPONSIVE ***/

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    margin: 30px auto;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
  h1 {
    line-height: 1.5em;
  }

  .card {
    padding: 25px;
  }

  .list-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
